<!DOCTYPE html>
<html lang="en-us">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Rookie Statistic Projection JSON</title>
      <!-- Bootstrap CSS -->  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!--Style CSS-->    
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
   </head>
   <nav class="navbar navbar-expand-sm navbar-dark bg-* bd-navbar flex-column flex-md sticky-top" style="background-color: #000000;">
      <div class="container-fluid">
         <a class="navbar-brand " href="/">
            <strong>Rookies.com</strong>
            <title>Rookies.com</title>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse">
               <ul class="navbar-nav ml-auto">
         <a class="nav-item nav-link" href="/"><strong>Home</strong></a>
         <a class="nav-item nav-link" href="/RookiePlots"><strong>Rookie Plots</strong></a>
         <a class="nav-item nav-link active" href="/JSON"><strong>Machine Learning</strong></a>
         </ul>
         </div>
         </a>
      </div>
   </nav>
   <br>
   <body>
      
   </body>
</html>
