<!DOCTYPE html>
<html lang="en-us">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Rookie Statistic Projection JSON</title>
      <!-- Bootstrap CSS -->  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!--Style CSS-->    
      <link rel="stylesheet" type="text/css" href="/static/css/style.css">
      <style>
      h2 {
         margin-left: auto;
         text-align: center;
         margin-right: auto
          }
      h3 {
         margin-left: auto;
         text-align: center;
         margin-right: auto
         }
      img {
         display: block;
         margin-left: auto;
         margin-right: auto }
      </style>

   </head>
   <nav class="navbar navbar-expand-sm navbar-dark bg-* bd-navbar flex-column flex-md sticky-top" style="background-color: #000000;">
      <div class="container-fluid">
         <a class="navbar-brand " href="/">
            <strong>Rookies.com</strong>
            <title>Rookies.com</title>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse">
               <ul class="navbar-nav ml-auto">
         <a class="nav-item nav-link" href="/"><strong>Home</strong></a>
         <a class="nav-item nav-link" href="/RookiePlots"><strong>Rookie Plots</strong></a>
         <a class="nav-item nav-link active" href="/JSON"><strong>Machine Learning</strong></a>
         </ul>
         </div>
         </a>
      </div>
   </nav>
   <br>
   <body>
      <div class="row">
         <div class="col-lg-12 col-md-12">
            <h2><strong>Machine Learning</strong></h2>
         </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row">
            <hr>
            <div class="container-fluid col-lg-8 col-md-8">
                  <h2><strong>Correlation Matrix - Seaborn</strong></h2>
            </div>
            <hr>
         </div>
         <div class="row">
            <div class="container-fluid">
                  <img class="panel" src="../static/images/correlation_matrix.png" alt="Correlation Matrix" class="center">
            </div>
         </div>
         <br>
         <hr>
         <br>
      <div class="row">
         <hr>
         <div class="container-fluid col-lg-8 col-md-8">
               <h2><strong>Regression Model Scores and Summary</strong></h2>
         </div>
         <hr>
      </div>
      <br>
      <div class="row">
         <div class="container-fluid">
					<img class="panel" src="../static/images/prediction_model_scores.jpg" alt="Regression Summary" class="center">
         </div>
      </div>
      <br>
      <hr>
      <div class="row">
            <div class="container-fluid col-lg-8 col-md-8">
                  <h2><strong>Linear Regression</strong></h2>
            </div>
      </div>
      <br>
      <div class="row">
         <div class="container-fluid">
               <h3><strong>Train</strong></h3>
               <img class="panel" src="../static/images/linear_regression_train.png" alt="LR Train" class="center">
               <br>
               <hr>
               <br> 
               <h3><strong>Test</strong></h3>
               <img class="panel" src="../static/images/linear_regression_test.png" alt="LR Test" class="center">
               <br>
               <hr>
               <br>
               <h3><strong>Prediction</strong></h3>
               <img class="panel" src="../static/images/linear_regression_prediction.png" alt="LR Prediction" class="center">
               <br>
               <hr>
               <br>
               <h3><strong>Point Differential Error</strong></h3>
               <img class="panel" src="../static/images/linear_regression_pde.png" alt="LR PDE" class="center">
            </div>
      </div>
      <br>
      <hr>
      <br>
         <div class="row">
               <div class="container-fluid col-lg-8 col-md-8">
                     <h2><strong>Random Forrest</strong></h2>
               </div>
         </div>
         <br>
         <div class="row">
            <div class="container-fluid">
                  <h3><strong>Train</strong></h3>
                  <img class="panel" src="../static/images/random_forrest_train.png" alt="RF Train" class="center">
                  <br>
                  <hr>
                  <br> 
                  <h3><strong>Test</strong></h3>
                  <img class="panel" src="../static/images/random_forrest_test.png" alt="RF Test" class="center">
                  <br>
                  <hr>
                  <br> 
                  <h3><strong>Prediction</strong></h3>
                  <img class="panel" src="../static/images/random_forrest_prediction.png" alt="RF Prediction" class="center">
                  <br>
                  <hr>
                  <br>
                  <h3><strong>Point Differential Error</strong></h3>
                  <img class="panel" src="../static/images/random_forrest_pde.png" alt="RF PDE" class="center">
                  <br>
                  <hr>
                  <br>
                  <h3><strong>Rookie Value Distribution</strong></h3>
                  <img class="panel" src="../static/images/rookie_value_distribution.png" alt="Rookie Value Distribution" class="center">
               </div>
         </div>
         <br>
         <hr>
         <br>
      <hr>
      <br>
         <div class="row">
               <div class="container-fluid col-lg-8 col-md-8">
                     <h2><strong>XG Boost</strong></h2>
               </div>
         </div>
         <br>
         <div class="row">
            <div class="container-fluid">
                  <h3><strong>Train</strong></h3>
                  <img class="panel" src="../static/images/XGB_train.png" alt="XGB Train" class="center">
                  <br>
                  <hr>
                  <br> 
                  <h3><strong>Test</strong></h3>
                  <img class="panel" src="../static/images/XGB_test.png" alt="XGB Test" class="center">
                  <br>
                  <hr>
                  <br> 
                  <h3><strong>Prediction</strong></h3>
                  <img class="panel" src="../static/images/XGB_prediction.png" alt="XGB Prediction" class="center">
                  <br>
                  <hr>
                  <br>
                  <h3><strong>Point Differential Error</strong></h3>
                  <img class="panel" src="../static/images/xgb_pde.png" alt="XGB PDE" class="center">
               </div>
         </div>
         <br>
         <hr>	
   </body>
</html>
